# Игнорирование всех .exe файлов
*.exe

# Игнорирование временных файлов и папок
*.[Bb]ak
*.[Tt]mp
*.[Ss]wp

# Игнорирование папок, создаваемых различными средами разработки и инструментами
/bin/
/obj/
/build/
/debug/
/release/
/.vs/
/.vscode/
*.user
*.suo
*.userprefs

# Игнорирование лог-файлов и артефактов сборки
*.log
*.sql
*.sqlite

# Не игнорировать сам файл .gitignore
!.gitignore
