# Ignore everything
*

# But do not ignore .cpp, .h, and .txt files
!*.cpp
!*.h
!*.txt

# Ignore Visual Studio Code settings, except specified files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
